.navbar-container{
    background: #05021a;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-left{
    display: flex;
    align-items: center;
    gap: 2rem;  
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-top: -1rem;
    margin-left: 4rem;
    color: rgb(218, 204, 226);
}

.navbar-container-right{
   margin-top: 0.1rem;
   margin-right: 8rem;
   display: flex;
   align-items: center;
   height:100%;
   gap: 5rem;
}

.navbar-container-right-about{
    color: white;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.navbar-container-right-about:hover{
    color: rgb(170, 130, 158);
}

.navbar-container-right-skills{
    font-size: 1.1rem;
    color: white;
    font-family: sans-serif;
}

.navbar-container-right-skills:hover{
    color: rgb(170, 130, 158);
}

.navbar-container-right-projects{
    font-size: 1.1rem;
    color: white;
    font-family: sans-serif;  
}

.navbar-container-right-projects:hover{
    color: rgb(170, 130, 158);
}

.navbar-container-right-contact{
    font-size: 1.1rem;
    color: white;
    font-family: sans-serif;
}

.navbar-container-right-contact:hover{
    color: rgb(170, 130, 158);
}